<h3>Create a new post <%= current_user.username %></h3>

<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label "Post" %>
    <%= f.text_field :body %>

    <%= f.submit  %>
<% end %>